{
  "BASE_URL": "",

  "PREFIX": "",
  "USER": {
    "owner": {
      "ID": "",
      "TOKEN": ""
    },
    "member1": {
      "ID": "",
      "TOKEN": ""
    },
    "member2": {
      "ID": "",
      "3194054": ""
    }
  },
  "TOKEN_HEADER" : "",
  "ACCOUNT_ID": "",
  "PATH_DATA_FILES": "",
  "Content-Type": ""
}
