{
  "URL": {
    "basic": "https://www.pivotaltracker.com/services/v5",
    "me": "/me",
    "projects": "/projects/$ID(0)",
    "stories": "/projects/$ID(0)/stories/$ID(1)",
    "tasks": "/projects/$ID(0)/stories/$ID(1)/tasks/$ID(2)",
    "comments": "/projects/$ID(0)/stories/$ID(1)/comments/$ID(2)",
    "workspaces": "/my/workspaces/$ID(0)",
    "accounts": "/accounts/$ID(0)",
    "account_summary": "/account_summaries",
    "memberships": "/accounts/$ID(0)/memberships/$ID(1)"
  },
  "TOKEN_HEADER" : "X-TrackerToken",

  "PREFIX": "",
  "USER": {
    "owner": {
      "ID": "",
      "TOKEN": ""
    },
    "member1": {
      "ID": "",
      "TOKEN": ""
    },
    "member2": {
      "ID": "",
      "3194054": ""
    }
  },
  "ACCOUNT_ID": ""
}
